.cart-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(83, 81, 81, 0.973);
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-list.grid {
  display: flex;
  flex-wrap: wrap;
}

.product-list.list {
  display: block;
}

.product-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.product-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 20px;
  width: 25%;
}

.product-item h4 {
  font-size: 18px;
  margin: 0;
}

.product-item p {
  font-size: 16px;
  color: #888;
  width: 25%;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-controls button {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin: 0 5px;
}

.quantity-controls span {
  font-size: 18px;
}

.total {
  color: forestgreen;
  font-size: 15px;
  text-align: right;
  margin-top: 20px;
  padding: 10px;
}

.onay {
  display: flex;
  justify-content: end;
}

.onay button {
  color: green;
  border: solid 2px green;
  border-radius: 3px;
  box-sizing: 3px;
  padding-bottom: 4px;
  margin-bottom: 2px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 1200px) {
  .product-item {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .product-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-item img {
    margin-bottom: 10px;
  }
}

h4 {
  color: rgb(3, 22, 75);
  font-size: 25px;
}

.empty-cart {
  text-align: center;
  padding: 20px;
}

.empty-cart p {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(61, 56, 56);
}

.empty-cart button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.empty-cart button:hover {
  background-color: rgb(188, 188, 201);
}

.view-toggle {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 4px;
  width: 25%;
}

.remove-button {
  background-color: #120329;
  color: white;
  border-color: rgb(245, 243, 242);
  border-radius: 5px;
  font-size: 16px;
  min-width: 120px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #f5f3f2;
}

@media (max-width: 600px) {
  .remove-button {
    font-size: 14px;
    padding: 8px 16px;
    min-width: 100px;
  }
}
