h1 {
  color: #050949;
  font-size: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: #414147 solid 2px;
  box-shadow: #414147 3px 3px 3px 3px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: 25px;
}

.search {
  flex: 1;

  border-radius: 3px;
  padding: 5px;
}

.button {
  background-color: rgb(2, 2, 56);
  color: rgb(243, 241, 241);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

.Tab {
  background-position: center;
  background-color: rgb(3, 20, 77);
  color: antiquewhite;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 97%;
  height: 60px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  text-align: center;
}

.Tab a:hover {
  color: gray;
}

.Tab a:selection {
  color: rgba(255, 255, 255, 0.863);
}

.List {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  color: rgb(18, 2, 78);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 15px;
}

.Item {
  position: relative;
  border: 3px solid #09526e;
  border-radius: 5px;
  box-shadow: rgb(12, 23, 32) 2px 2px 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 250px;
  margin: 15px;
  padding: 15px;
}

.Price {
  color: #05aa1b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Item img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #c8d1d4;
}

.cartNo {
  position: absolute;
  border: solid 1px gray;
  border-radius: 50px;
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 4px;
  width: 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 25px;
}

.CartSummary {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(3, 20, 77);
  border: black 3px;
}

@media screen and (max-width: 770px) {
  h1 {
    font-size: 30px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
    margin-left: 0;
  }

  .Tab {
    height: auto;
    padding: 10px;
  }

  .Item {
    width: 100%;
    margin: 10px 0;
  }

  .add-to-cart-icon {
    margin-right: 25px;
    margin-left: 20px;
  }

  .CartSummary {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  h1 {
    font-size: 25px;
  }

  .cartNo {
    margin-left: 45px !important;
  }

  .button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .Tab {
    width: 95% !important;
  }

  .search {
    padding: 3px;
    border: 3px solid rgb(2, 2, 56);
  }

  .Item {
    padding: 10px;
  }

  .Price {
    font-size: 14px;
  }
}
.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d5e9c9;
  color: #3b8d0b;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(15, 8, 75) 2px;
  padding: 4%;
}

.category-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.category-button {
  flex: 1 1 auto;
  min-width: 120px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.category-button.active {
  background-color: #021a33;
  color: white;
}

.ikons {
  display: flex;
  justify-content: space-between;
}

.ikons {
  display: flex;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.favorites,
.cart {
  margin-right: 5px;
}

.favorites button,
.cart button {
  display: flex;
  align-items: center;
  justify-content: center;
}
